#! /bin/bash

##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

export DB_NAME="sunrise"
export DB_USER="sunrise"
export DB_HOST="db"
export DB_PORT="5432"

export APP_DEBUG="True"
export APP_PORT="8000"
# APP_SECRET_KEY should be set in .envrc.local

export ADMIN_USER="admin"
export ADMIN_EMAIL="admin@localhost"
# ADMIN_PASSWORD should be set in .envrc.local

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi


# Environment Variables for PostgreSQL Database Container
export POSTGRES_DB=$DB_NAME
export POSTGRES_USER=$DB_USER
export POSTGRES_PASSWORD=${DB_PASSWORD:-}
export PGPASSWORD=${DB_PASSWORD:-}
